body {
    margin: 0;
    font-family: "Orbitron", sans-serif;

  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    margin: 0 auto;
    background-color: #1A1A1A;
  }
  /* .base {
    padding: 5px;
  } */
  .logo {
    width: 120px;
  }
  .header-links a{
    color: #FFD700;
    text-transform: uppercase;
    padding: 5px 15px;
    text-decoration: none;
  }
  .header-links a:hover{
    background-color: #FFA500;
    color: #1A1A1A;    
    border-radius: 15px;    
    
  }


