body {
    margin: 0;
    font-family: "Orbitron", sans-serif;

  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px 10px 10px;
    background-color: black;
  }
  /* .base {
    padding: 5px;
  } */
  .logo {
    width: 210px;
  }
  .header-links a{
    color: #FFD700;
    text-transform: uppercase;
    padding: 5px 15px;
    text-decoration: none;
  }
  .header-links a:hover{
    background-color: #FFA500;
    color: #000000;    
    border-radius: 15px;    
    
  }